<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

<body>

    <div ng-app="">
        <p>My first expression: {{ 5 + 5 }}</p>
    </div>

</body>

</html>